#note-list-container {

    height:90%;
    overflow-y: auto;

    // https://heropy.blog/2018/11/24/css-flexible-box/
    #note-list {
        // display속성: flow, flow-root, table, flex, grid, ruby, 
        display: flex;  // block 특성의 flex container 를 정의, inline-flex: inline 특성의 flex container 정의
        // display: grid;
        flex-wrap: wrap;
        flex-direction: row;//column-reverse;
        flex-flow: wrap;//
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}
