
.wrap-button {
    display: flex;
    justify-content: center;
  }
  
  .button {
    font-size: 1.5rem;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #333333;
    border-radius: 0.5rem;
    color: black;
    cursor: pointer;
  }
  
  